.circle {
  width: var(--size-icon-s);
  height: var(--size-icon-s);
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
}

.unchecked {
  background-color: transparent;
  border: var(--border-width-sm) solid var(--color-grey-disabled);
}

.checked {
  background-color: var(--color-blue);
  border: none;
  color: var(--color-white);
}

.checkmark {
  width: 24px;
  height: 24px;
}
