.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  border-radius: var(--radius-lg);
  font-family: var(--font-family);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--spacing-md);
}

.size-m {
  width: 300px;
  height: 132px;
}

.size-l {
  width: 1230px;
  height: 160px;
}

.placeholder {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-grey-disabled);
}
